<div class="container">
    <footer>
        <section id="footer">
                <div class="row text-center">
                    <div class="col-lg-5 offset-0 mb30">
                        <div>
                            <h4 style="text-align: center; font-family: Roboto; font-size: 16px; color: #ffffff; text-transform: uppercase; margin-bottom: 15px">Vous avez une demande ?</h4>
                            <form action="index.html" method="post">
                                <div>
                                    <label for="name">Name:</label> <input type="text" id="name" name="user_name">
                                </div>
                                <div>
                                    <label for="mail">E-mail:</label> <input type="email" id="mail" name="user_mail">
                                </div>
                                <div>
                                    <label for="msg">Message:</label> <textarea id="msg" name="user_message"></textarea>
                                </div>
                                <div class="button">
                                    <button type="submit">Send your message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-0 mb30" style="margin-top: auto;margin-bottom: auto;">
                        <span class="glyphicon glyphicon-earphone" style="font-size: 15px; margin-right: 10px; color: #ffffff"></span>
                        <a href="tel:0442606970" style="color: #FFFFFF; text-decoration: underline !important; font-size: 15px; font-family: Roboto">Téléphone : 04 42 60 69 70</a>
                        <br>
                        <span class="glyphicon glyphicon-flag" style="font-size: 15px; margin-right: 10px; color: #ffffff"></span>
                        <a href="Adresse: 46 rue de la boustifaille 04150 Banon" style="color: #FFFFFF; font-size: 15px; font-family: Roboto">Adresse: 46 rue de la boustifaille<br>04150 Banon</a>
                    </div>
                    <div class="col-lg-5 offset-0">
                        <p class="mini_title_footer">ou nous trouver !</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2868.166477978915!2d5.627743661129765!3d44.038616370085656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smairie%20de%20Banon!5e0!3m2!1sfr!2sfr!4v1568896262253!5m2!1sfr!2sfr" width="280" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
        </section>
    </footer>
</div>